<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
	<add name="defaultName" connectionString="server=SUSHANTRSUTAR\SQLEXPRESS;database=mydb;
		 Integrated Security=True;connection timeout=60"
		 providerName="System.Data.SqlClient"></add>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>