@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    
        <p>Student Id : @Model.Id </p>
        <p>Student Name : @Model.Name</p>
        <p>Student Age : @Model.Age</p>
        <p>Student Email : @Model.Email</p>
    

</div>